{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="container content" style="flex: 1 0 auto;">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 my-5">
            <div class="col-12">
                <a href="{{ url_for('customer.dashboard') }}"
                    style="text-decoration: underline; color: #007bff; cursor: pointer; margin-bottom: 20px; display: inline-block;">
                    &lt;&lt; Dashboard</a>
            </div>
            <h1>Apply to become Account Holder</h1>
            <hr>
            <form method="POST" action="{{ url_for('customer.apply_account_holder') }}">
                {{ form.csrf_token }}
                <div class="form-group mb-3">
                    {{ form.business_name.label }}<span style="color:red;">*</span>
                    {{ form.business_name(class="form-control") }}
                    {% for error in form.business_name.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="form-group mb-3">
                    {{ form.business_address.label }}<span style="color:red;">*</span>
                    {{ form.business_address(class="form-control") }}
                    {% for error in form.business_address.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                <div class="form-group mb-3">
                    {{ form.business_phone.label }}<span style="color:red;">*</span>
                    {{ form.business_phone(class="form-control") }}
                    {% for error in form.business_phone.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                    <!-- Message Input Section -->
                    <div class="form-group mb-3">
                        <label for="message">Please provide a reason: <span style="color:red;">*</span></label>
                        <textarea id="message" name="message" class="form-control" rows="3" required></textarea>
                    </div>
                    
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary btn-sm">Apply</button>
                    <a href="javascript:history.back()" class="btn btn-sm btn-primary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}