{% extends "base.html" %}
{% block title %}Add New Subscription{% endblock %}
{% block content %}
<div class="container content" style="flex: 1 0 auto;">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 my-5">
            <h1>Add New Subscription</h1>
            <hr>
            <form method="POST" action="{{ url_for('customer.add_new_subscription') }}" enctype="multipart/form-data">
                {{ form.csrf_token }}
                <div class="form-group mb-3">
                    {{ form.box_frequency.label }}<span style="color:red;">*</span>
                    {{ form.box_frequency(class="form-control") }}
                </div>
                <div class="form-group mb-3">
                    {{ form.box_category.label }}<span style="color:red;">*</span>
                    {{ form.box_category(class="form-control") }}
                </div>
                <div class="form-group mb-3">
                    {{ form.box_size.label }}<span style="color:red;">*</span>
                    {{ form.box_size(class="form-control") }}
                </div>
                <div class="form-group mb-3">
                    {{ form.subscription_quantity.label }}<span style="color:red;">*</span>
                    {{ form.subscription_quantity(class="form-control") }}
                </div>
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary btn-sm">Proceed to Payment</button>
                    <a href="{{ url_for('customer.view_subscription') }}" class="btn btn-sm btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}