{% extends 'base.html' %}
{% block title %}Payment{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='payment_modal.css') }}">

<div id="paymentConfirmationModal" class="modal">
    <div class="modal-content">
        <h3><strong> Thank You For Shopping with Us! </strong></h3>
        <hr>
        {% if session['user_role_id'] == 2 or session['user_role_id'] == '2' %}
        <h5> Your order has been confirmed and the amount has been deducted from your credit. You will receive a notification once your order is dispatched. </h5>
        {% else %}
        <h5> Your order is confirmed. You will receive a notification once your order is dispatched. </h5>
        {% endif %}
        <ul>
            <li><p> Your receipt of purchase is now available. </p></li>
            <li><p> Please press OK to continue shopping. </p></li>
        </ul>
        <div class="buttons">
            <form id="receiptForm" action="
            {% if session['user_role_id'] == 2 or session['user_role_id'] == '2' %}
            {{ url_for('account_holder.view_receipt', invoice_id=invoice_id) }}
            {% else %}
            {{ url_for('customer.view_receipt', invoice_id=invoice_id) }}
            {% endif %}" method="GET">
                <div>
                    <button type="submit" id="viewReceiptButton" class="btn btn-sm btn-success">View Receipt</button>                   
                    <button type="button" id="okButton" class="btn btn-sm btn-primary">OK</button> 
                </div>
            </form>    
                      
        </div>
    </div>
</div>
  
<script>
    // Get the modal
    var modal = document.getElementById("paymentConfirmationModal");

    // When the user clicks the button, open the modal
    modal.style.display = "block";

    // Add event listener for the OK button
    document.getElementById('okButton').addEventListener('click', function() {
        if ("{{ session['user_role_id'] }}" == 2 || "{{ session['user_role_id'] }}" == '2') {
            window.location.href = "{{ url_for('account_holder.view_depot_products') }}";
        } else {
        window.location.href = "{{ url_for('customer.view_depot_products') }}";
        }
    });
</script>

{% endblock content %}
