.navbar {
    padding-left: 20px; 
    padding-right: 20px; 
    margin-bottom: 5px;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.87); 
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar li {
    padding: 10px 15px;
}

.nav-link {
    color: rgba(255, 255, 255, 0.75);
    transition: color 0.3s, border-bottom 0.3s;
}

.nav-link:hover {
    color: white;
}

.home-container {
    background-image: url('/static/images/strawberry.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3vh 10%;
    flex-grow: 1;
}

.banner-text h1 {
    font-size: 3em; 
    text-align: center; 
    color: white; 
    font-weight: bold;
    margin-top: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.categories-shop {
    padding-bottom: 10px;
}

.categories-shop h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.89);
}

.btn.hvr-hover {
    background-color: #198040c7;
    color: white;
    padding: 10px 20px;
    display: block;
    margin: 0 auto; 
    text-align: center; 
    font-weight: bold; 
    font-size: 1.2em; 
}
.btn.hvr-hover:hover {
    background-color: #37ec7c;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    height: 5vh;
    background: rgba(0, 0, 0, 0.87);
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.content {
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.shop-cat-box img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.shop-cat-box a.btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white; 
    border: none;
    border-radius: 0;
}

.authentication {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}
form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.login-btn {
    width: 100%;
}

  