{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="container content" style="flex: 1 0 auto;">
    <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h1>{{ current_category | default('Products') }}</h1>
            {% if box_id == None %}
            <a href="
            {% if session['user_role_id'] == 4 or session['user_role_id'] == '4' %}
            {{ url_for('local_manager.review_box') }}
            {% else %}
            {{ url_for('national_manager.review_box') }}
            {% endif %}" class="btn btn-primary">Review the box</a>
            {% else %}
            <a href="
            {% if session['user_role_id'] == 4 or session['user_role_id'] == '4' %}
            {{ url_for('local_manager.view_box', box_id=box_id) }}
            {% else %}
            {{ url_for('national_manager.view_box', box_id=box_id) }}
            {% endif %}" class="btn btn-primary">Review the box</a>
            {% endif %}
        </div>
        <hr>
    </div>
    <div class="row">
        {% if products %}
        <div class="col-md-2">
            <!-- Categories Sidebar -->
            <div class="list-group">
                {% for category in categories %}
                <a href="
                {% if session['user_role_id'] == 4 or session['user_role_id'] == '4' %}
                {{ url_for('local_manager.add_box_content', category_name=category[1] | replace(' ', '-')) }}
                {% if box_id %}?box_id={{ box_id }}{% endif %}
                {% else %}
                {{ url_for('national_manager.add_box_content', category_name=category[1] | replace(' ', '-')) }}
                {% if box_id %}?box_id={{ box_id }}{% endif %}
                {% endif %}" 
                   class="list-group-item list-group-item-action {{ 'active' if category[1] == current_category }}">
                   {{ category[1] }}
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-10">
            <table class="table table-striped table-hover text-center">
                <thead>
                    <tr class="table-primary">
                        <th style="width: 10%;">Id</th>
                        <th style="width: 20%;">Image</th>
                        <th style="width: 25%;">Name</th>
                        <th style="width: 15%;">Unit</th>
                        <th style="width: 15%;">In-box Quantity</th>
                        <th style="width: 15%;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product[0] }}</td>
                        <td>
                            <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                                {% if product[3] %}
                                    <!-- Product Image -->
                                    <img src="data:image/jpeg;base64,{{ product[3] }}" alt="{{ product[1] }}" width="50px" height="45px">
                                {% else %}
                                <!-- Placeholder when there's no image -->
                                <div style="width: 50px; height: 45px; background-color: #f0f0f0; display: flex; align-items: center; justify-content: center;">
                                    <span style="color: #ccc;">Image coming soon</span>
                                </div>
                                {% endif %}
                            </div>
                        </td>
                        <td>{{ product[1] }}</td>
                        <td>{{ product[5] }} {{ product[6] }}</td>
                        {% set product_quantity = box_contents.get(product[0] | string, 0) %}
                        <td>
                            <input class="form-control text-center" type="number" id="quantity_{{ product[0] }}"
                            name="quantity_{{ product[0] }}" min="0" value="{{ product_quantity }}">
                        </td>
                        <td><a href="#" onclick="addToBox('{{ product[0] }}', '{{ box_id | default('') }}');" class="btn btn-sm btn-primary">Add to box</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-info" role="alert">
            No products found.
        </div>
        {% endif %}
    </div>
        <!-- Pagination -->
        <nav aria-label="Product navigation" style="margin-top: 20px;">
            <ul class="pagination justify-content-center">
                {% if page > 1 %}
                <li class="page-item"><a class="page-link"
                            href="
                            {% if session['user_role_id'] == 4 or session['user_role_id'] == '4' %}
                            {{ url_for('local_manager.add_box_content', category_name=current_category | replace(' ', '-'), page=page-1) }}
                            {% else %}
                            {{ url_for('national_manager.add_box_content', category_name=current_category | replace(' ', '-'), page=page-1) }}
                            {% endif %}
                            {% if box_id %}
                            &box_id={{ box_id }}
                            {% endif %}">Previous</a>
                </li>
                {% endif %}
                {% for p in range(1, total_pages + 1) %}
                <li class="page-item {{ 'active' if p == page else '' }}">
                        <a class="page-link"
                            href="{% if session['user_role_id'] == 4 or session['user_role_id'] == '4' %}
                            {{ url_for('local_manager.add_box_content',category_name=current_category | replace(' ', '-'), page=p) }}
                            {% else %}
                            {{ url_for('national_manager.add_box_content',category_name=current_category | replace(' ', '-'), page=p) }}
                            {% endif %}
                            {% if box_id %}
                            &box_id={{ box_id }}
                            {% endif %}">{{
                            p }}</a>
                </li>
                {% endfor %}
                {% if page < total_pages %} <li class="page-item"><a class="page-link"
                            href="{% if session['user_role_id'] == 4 or session['user_role_id'] == '4' %}{{ url_for('local_manager.add_box_content', category_name=current_category | replace(' ', '-'), page=page+1) }}{% else %}{{ url_for('national_manager.add_box_content', category_name=current_category | replace(' ', '-'), page=page+1) }}{% endif %}{% if box_id %}&box_id={{ box_id }}{% endif %}">Next</a>
                        </li>
                {% endif %}
            </ul>
        </nav>
</div>
<script>
    function addToBox(product_id, box_id) {
        var quantityInputId = 'quantity_' + product_id; // Construct the ID of the quantity input field based on the product ID
        var quantity = document.getElementById(quantityInputId).value; // Get the quantity from the input field associated with the product

        if (quantity.trim() === '' || parseInt(quantity) === 0) {
            alert('Please enter a quantity before adding to the box.');
            return false;
        }

        var url;
        if (box_id && box_id !== 'None' && box_id !== '') {
            url = "{% if session['user_role_id'] == 4 or session['user_role_id'] == '4' %}{{ url_for('local_manager.add_to_existing_box', product_id='__product_id__') }}{% else %}{{ url_for('national_manager.add_to_existing_box', product_id='__product_id__') }}{% endif %}";
        } else {
            url = "{% if session['user_role_id'] == 4 or session['user_role_id'] == '4' %}{{ url_for('local_manager.add_to_box', product_id='__product_id__') }}{% else %}{{ url_for('national_manager.add_to_box', product_id='__product_id__') }}{% endif %}";
        }
        url = url.replace('__product_id__', product_id);

        // Append the quantity and box_id to the URL
        url += "?quantity=" + encodeURIComponent(quantity);
        if (box_id && box_id !== 'None' && box_id !== '') {
            url += "&box_id=" + encodeURIComponent(box_id);
        }

        // Navigate to the URL
        window.location.href = url;
    }
</script>

{% endblock %}
