{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}


<div class="home-container">
    <div class="banner-text">
        <div class="row">
            <div class="col-md-12">
                <h1><strong>Welcome To <br> Fresh Harvest Delivery</strong></h1>
            </div>
        </div>
    </div>
</div>  
<div class="categories-shop">
    <h2>Please Choose Your Local Depot</h2>
    <div class="row justify-content-center">
        {% for depot_name in depot_names %}
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <div class="shop-cat-box">
                <a href="{{ url_for('main.view_products', depot_name=depot_name) }}"><img class="img-fluid" src="/static/images/{{ depot_name }}.jpg" alt="" /></a>
                <a class="btn hvr-hover" href="{{ url_for('main.view_products', depot_name=depot_name) }}">{{ depot_name }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
{% endblock %}