{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="container content" style="flex: 1 0 auto;">
    <div class="row">
        <div class="col-12">
            <a href="javascript:history.back()" 
            style="text-decoration: underline; color: #007bff; cursor: pointer; margin-bottom: 20px; display: inline-block;">
           << Continue Shopping</a>
        </div>
    </div>
    <h1>{{ product[0] }}</h1>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            {% if product[2] %}
            <img class="featurette-image img-fluid mx-auto" width="400px" height="400px"
                src="data:image/jpeg;base64,{{ product[2] }}" alt="{{ product[0] }}">
            {% else %}
            <div class="featurette-image img-fluid mx-auto"
                style="width: 400px; height:400px; display: flex; align-items: center; justify-content: center; background-color: #f0f0f0; border: 1px dashed #ccc;">
                <span style="color: #aaa;">Image coming soon</span>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h4> {{ product[0] }}</h4> <!-- name -->
            <small>{{ product[-2] }} {{ product[-1] }}</small> <!-- weight -->
            <h4> ${{ product[1] }}</h4> <!-- price -->
            <p> {{ product[3] }}</p>
            <div class="d-flex align-items-center" style="padding-bottom: 5px; flex-direction: row;">
                <label for="quantity_{{ product_id }}">Quantity:</label>
                <input type="number" id="quantity_{{ product_id }}" name="quantity_{{ product_id }}" min="1" value="1" style="width: 3em; margin-left: 5px; margin-right: 5px;">
            </div>
            <br>
            <div class="d-flex align-items-center" style="padding-bottom: 5px; flex-direction: row;">
                <a href="#" onclick="addToCart('{{ product_id }}');" class="btn btn-sm btn-primary">Add to cart</a>
            </div>
        </div>
       
    </div>
</div>

<script>
    function addToCart(product_id) {
        var quantityInputId = 'quantity_' + product_id; // Construct the ID of the quantity input field based on the product ID
        var quantity = document.getElementById(quantityInputId).value; // Get the quantity from the input field associated with the product

        if (quantity.trim() === '') {
            alert('Please enter a quantity before adding to cart.');
            return false;
        }

        var url = "{{ url_for('customer.addItem', product_id='__product_id__') }}";
        url = url.replace('__product_id__', product_id);

        // Append the quantity to the URL
        url += "?quantity=" + encodeURIComponent(quantity);

        // Navigate to the URL
        window.location.href = url;
    }
</script>
{% endblock %}