{% extends "base.html" %}
{% block title %}View Requests{% endblock %}
{% block content %}
<div class="container content" style="flex: 1 0 auto;">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 my-5">
            <div class="col-12">
                <a href="{{ url_for('national_manager.dashboard') }}"
                    style="text-decoration: underline; color: #007bff; cursor: pointer; margin-bottom: 20px; display: inline-block;">
                    &lt;&lt; Dashboard</a>
            </div>
            <h1 class="mb-4">Account Holder Application Requests</h1>
            <table class="table table-striped table-hover">
                <thead class="table-primary text-center">
                    <tr>
                        <th>Applicant</th>
                        <th>Business Name</th>
                        <th>Depot</th>
                        <th>Application</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in requests %}
                    <tr>
                        <td class="text-center align-middle">{{ request[1] }}</td>
                        <td class="text-center align-middle">{{ request[2] }}</td>
                        <td class="text-center align-middle">{{ request[4] }}</td>
                        <td class="text-center align-middle">
                            <a href="{{ url_for('national_manager.view_request_details', request_id=request[0]) }}" class="btn btn-info btn-sm">View Detail</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}