{% extends "base.html" %}
{% block title %}Account Holder Dashboard{% endblock %}

{% block body_class %}
<!-- different user roles -->
    {% if session['user_role_id'] == 1 %}
        customer
    {% elif session['user_role_id'] == 2 %}
        account-holder
    {% elif session['user_role_id'] == 3 %}
        staff
    {% elif session['user_role_id'] == 4 %}
        local-manager
    {% elif session['user_role_id'] == 5 %}
        national-manager
    {% else %}
        default
    {% endif %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h1>Welcome! {{ name }}</h1>
        <p>Select an option below to get started.</p>
    </div>
    <div class="container mt-3">
        <!-- Top Row: Three blocks in a card deck -->
        <div class="row">
            <!-- View Produce Block -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Make Purchase</div>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <a href="{{ url_for('account_holder.view_depot_products') }}"
                                class="btn btn-info mb-2">View/Purchase Products</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">My Orders</div>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <a href="{{ url_for('account_holder.view_orders')}}" class="btn btn-info mb-2">View/Edit My Orders</a>
                        </div>
                    </div>
                </div>
            </div>
              <!-- Subscription Block -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Subscription</div>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <a href="{{ url_for('account_holder.view_subscription') }}" class="btn btn-info mb-2">Manage My Subscription</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <!-- Manage Credit Limits Block -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Manage Credit Limit</div>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <a href="{{ url_for('account_holder.view_credit_limit') }}" class="btn btn-info mb-2">View My Credit Limit</a>
                            <a href="{{ url_for('account_holder.apply_limit_increase') }}" class="btn btn-info mb-2">Increase My Credit Limit</a>
                        </div>
                    </div>
                </div>
            </div>               
                <!-- View/Pay Invoice Block -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">View/Pay Invoice</div>
                        <div class="card-body">
                            <div class="d-flex flex-column">
                                <a href="{{ url_for('account_holder.view_invoices')}}" class="btn btn-info mb-2">View Invoices</a>
                                <a href="{{ url_for('account_holder.account_holder_confirm_payment') }}" class="btn btn-info mb-2">Pay My Bills</a>                                                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}