{% extends "base.html" %}
{% block title %}My Subscription{% endblock %}
{% block content %}

<script>
    // Display a confirmation dialog
    // Prompts users to double confirm before cancelling subscription
    function confirmDelete(deleteUrl) {
        if (confirm("Are you sure you want to cancel this subscription?")) {
            window.location.href = deleteUrl;
        }
    }
</script>

<div class="container content" style="flex: 1 0 auto;">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 my-5">
            <div class="col-12">
                <a href="{{ url_for('account_holder.dashboard') }}"
                    style="text-decoration: underline; color: #007bff; cursor: pointer; margin-bottom: 20px; display: inline-block;">
                    &lt;&lt; Dashboard</a>
            </div>
            <h1>Subscription</h1>
            <hr>
            <div class="container">
                <div class="ml-auto d-flex">
                    {% if not subscriptions or subscriptions is none %}
                  <a href="{{ url_for('account_holder.add_new_subscription') }}" class="btn btn-primary" role="button">Subscribe</a>
                  {% endif %} 
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped table-hover">
                            <thead> 
                                <tr class="table-primary">
                                    <th>Frequency</th>
                                    <th>Category</th>
                                    <th>Size</th>
                                    <th>Quantity Subscribed</th>
                                    <th>Quantity Delivered</th>
                                    <th>Last Order Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody> 
                                {% if subscriptions and subscriptions is not none %}
                                    <!-- loop through all subscriptions available -->
                                    {% for subscription in subscriptions %}
                                        <tr>
                                            <td>{{ subscription[1] if subscription[1] is not none }}</td>
                                            <td>{{ subscription[4] if subscription[4] is not none }}</td>
                                            <td>{{ subscription[5] if subscription[5] is not none }}</td>
                                            <td>{{ subscription[2] if subscription[2] is not none }}</td>
                                            <td>{{ subscription[3] if subscription[3] is not none }}</td>
                                            <td style="width: 120px;">{{ subscription[8].strftime('%d-%m-%Y') if subscription[8] is not none }}</td>
                                            <td><a href="#" onclick="confirmDelete('{{ url_for('account_holder.acc_holder_cancel_subscription', user_box_subscription_id=subscription[0]) }}')" class="btn btn-sm btn-danger">Cancel</a></td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="7">
                                            <div class="alert alert-info" role="alert">
                                                You currently have no active subscriptions.
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>                            
                    </div>
                </div>
            </div>                          
        </div>
    </div>
</div>

{% endblock %}