{% extends "base.html" %}
{% block title %}Account Holder Message List{% endblock %}
{% block content %}

<script>
    // Function to confirm deletion before proceeding to the delete URL
    function confirmDelete(deleteUrl) {
        if (confirm("Are you sure you want to delete this message?")) {
            window.location.href = deleteUrl;
        }
    }
</script>

<div class="container content" style="flex: 1 0 auto;">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 my-5">
            <div class="col-12">
                <a href="{{ url_for('account_holder.dashboard') }}"
                    style="text-decoration: underline; color: #007bff; cursor: pointer; margin-bottom: 20px; display: inline-block;">
                    &lt;&lt; Dashboard</a>
            </div>
            <h1>Message</h1>
            <hr>
            <div class="container">
                <div class="ml-auto d-flex">
                  <a href="{{ url_for('account_holder.new_message') }}" class="btn btn-primary" role="button">Compose</a>
              </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped table-hover">
                            
                            <tr class="table-primary">
                                <th>Sender</th>
                                <th>Message Content</th>
                                <th>Sent Date</th>
                                <th>Delete</th>
                            </tr>
                            
                            <tbody> 
                            <!-- looping through all messages -->
                                {% for message in messages %}
                                    <tr>
                                        <td style="width: 120px;">{{ message[-1] if message[-1] is not none }}</td>
                                        <td>{{ message[3] if message[3] is not none }}</td>
                                        <td style="width: 120px;">{{ message[4].strftime('%d-%m-%Y') if message[4] is not none }}</td>
                                        <td><a href="#" onclick="confirmDelete('{{ url_for('account_holder.delete_message', message_id=message[0]) }}')" class="btn btn-sm btn-danger">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                          
        </div>
    </div>
</div>

{% endblock %}