{% extends "base.html" %}
{% block title %}Credit Limit{% endblock %}
{% block content %}
<div class="container content" style="flex: 1 0 auto;">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 my-5">
            <h1>Credit Limit</h1>
            <hr>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Account Holder Information</h5>
                    <hr>
                    <p><strong>Business Name:</strong> {{ account_holder_info['business_name'] }}</p>
                    <p><strong>Business Address:</strong> {{ account_holder_info['business_address'] }}</p>
                    <p><strong>Business Phone: </strong>{{ account_holder_info['business_phone'] }}</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Credit Limit Information</h5>
                    <hr>
                    <p><strong>Current Credit Limit Per Month:</strong> ${{ current_limit }}</p>
                    <p><strong>Current Balance:</strong> ${{ current_balance }}</p>
                    <p><strong>Remaining Credit For This Month:</strong> 
                        <span style="{% if remaining_credit <= 100 %}color: red; font-weight: bold;{% endif %}">
                            ${{ remaining_credit }}
                        </span>
                    </p>
                </div>
            </div>
            <div class="mt-3">   
                <br>
                <div class="form-group mb-3">
                    <a href="javascript:history.back()" class="btn btn-sm btn-primary">Back</a>
                </div>
                <div class="form-group mb-3">
                    <a href="{{ url_for('account_holder.apply_limit_increase') }}" class="btn btn-sm btn-warning">Increase Credit Limit</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}