{% extends "base.html" %}
{% block title %}Staff Dashboard{% endblock %} 
{% block body_class %}
    {% if session['user_role_id'] == 1 %}
        customer
    {% elif session['user_role_id'] == 2 %}
        account-holder
    {% elif session['user_role_id'] == 3 %}
        staff
    {% elif session['user_role_id'] == 4 %}
        local-manager
    {% elif session['user_role_id'] == 5 %}
        national-manager
    {% else %}
        default
    {% endif %}
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h1>Welcome! {{ name }}</h1>
        <p>Select an option below to get started.</p>
    </div>

    <div class="container mt-3">
        <!-- Top Row: Three blocks in a card deck -->
        <div class="row">
            <!-- Manage Orders Block -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Manage Orders</div>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <a href="{{ url_for('staff.update_order_statuses') }}" class="btn btn-info mb-2">View/Edit Order Status</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Manage Inventory Block -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Manage Product Type</div>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <a href="{{ url_for('staff.staff_search_product_type') }}" class="btn btn-info mb-2">Add/View/Edit/Delete Product Type</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Manage Produce Block -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Manage Product Inventory</div>
                    <div class="card-body">
                        <div class="d-flex flex-column">
                            <a href="{{ url_for('staff.staff_product_list', depot_id=session['user_depot']) }}" class="btn btn-info mb-2">View/Update Product Inventory</a>
                            <a href="{{ url_for('staff.staff_perished_product_log', depot_id=session['user_depot']) }}" class="btn btn-info mb-2">View Perished Product</a>
                            <a href="{{ url_for('staff.staff_discontinued_products', depot_id=session['user_depot']) }}" class="btn btn-info mb-2">View Discontinued Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}